@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Poppins&family=Roboto&display=swap');
*{
  margin: 0px;
  padding: 0px;
  font-family: 'Sans', sans-serif;
  font-weight: 500;
}
.Home-page {
  width: 100%;
  display: flex;
}
.left-section {
  flex: 1;
  background-color: black;
  height: 90vh;
  flex-direction: column;
}
.logo > img {
  width: 130px;
  
}
.l-block1 {
  border-radius: 6px;
  flex-direction: column;
  overflow: hidden;
}
.l-block1 > div {
  display: flex;
  align-items: center;
  color: white;
  padding:8px;
  font-size:12px;
  
  
  
}
.block1-one {
  background-color: #282828;
  border-radius:6px;
 
}
.b1-image1{
    width: 1.2rem;
    height: 1.2rem;
 
}
.igg{
    background-color: white;
}
.b1-image2{
    width:1.2rem;
    height: 1.2rem;
    margin-right: 14px;
 
}
.l-block3{
  color:white;
  font-size:12px;
  text-align: left;
  
  
}
.lul-block3{
  padding-left:0px;

}
.lul-block3>li{
  text-decoration: none;
  list-style-type: none;
  padding-bottom: 5px;
}
.lul-block3>li>a, .l-block1>div>a{
  text-decoration: none;
  color:white;
}
.l-block4{
  color:white;
  font-size: 12px;
}
.l-block4 a{
  text-decoration: none;
  list-style-type: none;
}






















.right-section {
  flex: 4;
  background-color: antiquewhite;
}
.player {
  background-color: blue;
  height: 10vh;
  width: 100%;
  position: sticky;
  bottom: 0px;
}
